body {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0
}

header {
    background-color: #1877f2;
    color: white;
    text-align: center;
    padding: 10px;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 10px;
}

nav ul li a:hover {
    background-color: #145dbf;
}

main {
    border: 1px solid #ddd;
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

main h2, main h3 {
    color: #1877f2;
}

footer {
    background-color: #1877f2;
    color: white;
    text-align: center;
    padding: 10px
}

